思路：
1. 能够将fractureZone中的lat数据提出，放在矩正lat[]中
2. 将marStandardized中的所有数据放在一个矩正中
3. 对比marStandardized矩正中的每一个latitude[j]是否落在lat[i]和lat[i+1]的中间<br>
    如果是，则将这些数据标注为i，并j+1<br>
    如果不是，则ℹ️=i+1来检查这个数据是否落在下一个区间中<br>
        如果是，则将这些数据标注为i，并j+1。。。

In [1]:
# import the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# import the data
dataset = pd.read_csv('fractureZone.csv')
lat = dataset.iloc[:, 3].values
lat

array([-55.185, -40.637, -38.388, -29.081, -18.594, -17.721, -16.617,
       -16.271, -14.076, -11.686,  -6.928,  -1.213,  -0.49 ,   0.661,
         2.532,   3.933,   6.23 ,   7.135,   7.693,   8.119,   8.855,
        10.726,  12.132,  12.611,  15.32 ,  17.832,  18.541,  18.967,
        20.616,  23.718,  25.689,  29.365,  30.068,  32.323,  33.059,
        33.615,  35.149,  36.641,  37.468,  40.537,  47.636,  49.711,
        52.624,  56.721,  71.372,  74.04 ])

In [3]:
lat.shape

(46,)

In [4]:
# import the data
dataset = pd.read_csv('marStandardized.csv')
latMAR = dataset.iloc[:, 1].values
latMAR.shape

(300,)

In [6]:
j = 0
i = 0
section = np.empty(300,)
for j in range(0,300):
    if latMAR[j]<min(lat):
        section[j] = 111
        j+=1
    elif latMAR[j]>=max(lat):
        section[j] = 222
        j+=1
    else:
        i == 0
        for i in range (0,46):
            if latMAR[j]>= lat[i] and latMAR[j]<lat[i+1]:
                section[j] = i
                #j = j+1
            else:
                i += 1
print(section)
#whole_data = np.append(latMAR,section)
#print(whole_data)

[ 222.  222.  222.  222.  222.  222.  222.   44.   44.   44.   44.   44.
   44.   44.   44.   44.   44.   44.   44.   44.   44.   44.   44.   44.
   44.   43.   43.   43.   43.   43.   43.   43.   43.   43.   43.   43.
   43.   43.   43.   43.   43.   43.   43.   43.   43.   43.   43.   43.
   43.   43.   43.   43.   43.   43.   43.   43.   43.   43.   43.   43.
   43.   43.   43.   43.   43.   43.   43.   43.   43.   43.   43.   43.
   43.   43.   43.   43.   43.   43.   43.   43.   43.   43.   43.   43.
   43.   43.   42.   42.   42.   41.   41.   41.   41.   41.   41.   41.
   40.   40.   39.   39.   39.   39.   39.   39.   39.   39.   39.   39.
   38.   38.   38.   38.   38.   38.   38.   38.   38.   38.   38.   38.
   38.   38.   37.   37.   37.   36.   36.   36.   35.   34.   33.   33.
   32.   32.   32.   31.   31.   30.   15.   15.   15.   14.   14.   14.
   13.   13.   13.   13.   13.   13.   13.   13.   13.   13.   13.   12.
   12.   11.   11.   11.   10.   10.   10.   10.   10.   10.   10.    9.
    9.    9.    9.    9.    7.    7.    7.    3.    2.    2.    2.    1.
    1.    1.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.]

In [7]:
np.savetxt('newSection.csv', section, delimiter = ',')